# Byte-compiled files
__pycache__/
*.py[cod]

# Distribution / packaging
*.egg
*.egg-info
dist/
build/

# Virtual environment
venv/
ENV/
.env/

# IDE/editor-specific files
.idea/
.vscode/
*.suo
*.swp
*.swo

# Operating system files
.DS_Store
Thumbs.db
